In [2]:
import pandas as pd
import pymssql

In [4]:
conn = pymssql.connect(server='192.168.120.120', user='jsoulez', password='******', database='master')
cur = conn.cursor()
query = """SELECT top 3 cartera.IDMOROSO, cartera.IDCLIENTE,moroso.NOMBRE, producto.TOTALDEUDA, producto.VALORCUOTA, producto.TOTALPAGOS, producto.FULTPAGO, contabilidad.TIPO, contabilidad.SUBTIPO, contabilidad.DATO FROM Active.dbo.CARTERA as cartera
            JOIN
            Active.dbo.MOROSO AS moroso
            on cartera.IDMOROSO = moroso.IDMOROSO
            JOIN
            Active.dbo.PRODUCTO as producto
            on cartera.IDMOROSO = producto.IDMOROSO
            JOIN
            Active.dbo.DAM_CONTACTABILIDAD_FILTRADA AS contabilidad
            on cartera.IDMOROSO = contabilidad.IDMOROSO
            where contabilidad.TIPO = 'TEL.CELULAR';"""

bbdd = pd.read_sql_query(query,conn)

In [5]:
bbdd

,IDMOROSO,IDCLIENTE,NOMBRE,TOTALDEUDA,VALORCUOTA,TOTALPAGOS,FULTPAGO,TIPO,SUBTIPO,DATO
0,DNI 11650470,BANCO_DE_ALIMENTOS,FERRIGNO RICARDO S,NaN,60000.0,0.0,None,TEL.CELULAR,PERSONAL,1550069825
1,DNI 33701663,FRANCES_2012,FIORITO ROMINA ROXANA,16094.16,NaN,0.0,None,TEL.CELULAR,PERSONAL,1551531581
2,DNI 13245901,COTO23,BARBAZAN SILVIA CRISTINA,8639.35,1959.0,0.0,None,TEL.CELULAR,PERSONAL,1563191396

In [6]:
bbdd['NOMBRE'][0] = 'Joaquin' 
bbdd['NOMBRE'][1] = 'Lautaro'
bbdd['NOMBRE'][2] = 'Fernando'
bbdd['IDMOROSO'][0] = 'DNI 00000'
bbdd['IDMOROSO'][1] = 'DNI 11111'
bbdd['IDMOROSO'][2] = 'DNI 2222'

/var/folders/bj/ndgdqzgj6qgd9y613qph_m180000gn/T/ipykernel_66355/4045136593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bbdd['NOMBRE'][0] = 'Joaquin'
/var/folders/bj/ndgdqzgj6qgd9y613qph_m180000gn/T/ipykernel_66355/4045136593.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bbdd['NOMBRE'][1] = 'Lautaro'
/var/folders/bj/ndgdqzgj6qgd9y613qph_m180000gn/T/ipykernel_66355/4045136593.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bbdd['NOMBRE'][2] = 'Fernando'
/var/folders/bj/ndgdqzgj6qgd9y613qph_m180000gn/T/ipykernel_66355/4045136593.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bbdd['IDMOROSO'][0] = 'DNI 00000'
/var/folders/bj/ndgdqzgj6qgd9y613qph_m180000gn/T/ipykernel_66355/4045136593.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bbdd['IDMOROSO'][1] = 'DNI 11111'
/var/folders/bj/ndgdqzgj6qgd9y613qph_m180000gn/T/ipykernel_66355/4045136593.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bbdd['IDMOROSO'][2] = 'DNI 2222'

In [7]:
bbdd

,IDMOROSO,IDCLIENTE,NOMBRE,TOTALDEUDA,VALORCUOTA,TOTALPAGOS,FULTPAGO,TIPO,SUBTIPO,DATO
0,DNI 00000,BANCO_DE_ALIMENTOS,Joaquin,NaN,60000.0,0.0,None,TEL.CELULAR,PERSONAL,1550069825
1,DNI 11111,FRANCES_2012,Lautaro,16094.16,NaN,0.0,None,TEL.CELULAR,PERSONAL,1551531581
2,DNI 2222,COTO23,Fernando,8639.35,1959.0,0.0,None,TEL.CELULAR,PERSONAL,1563191396

In [10]:
!pwd

/Users/joacosoulez/Desktop/DatosMOPC/voice-bot

In [11]:
bbdd.to_csv('/Users/joacosoulez/Desktop/DatosMOPC/voice-bot', index = False)

IsADirectoryError: [Errno 21] Is a directory: '/Users/joacosoulez/Desktop/DatosMOPC/voice-bot'